*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.background-box {
    position: absolute;
    display: flex;
}
.background-box:nth-child(1) {
    background-color: #1E63E9; /* First box color */
    z-index: -1; /* Ensures the boxes are behind the content */
    top: 0;
    right: 0;
    width: 40%;
    height: 45%;
}
.background-box:nth-child(2) {
    bottom: 0;
    left: 0;
    width: 60%;
    height: 35%;
    background-color: #333; /* Second box color */
    z-index: -1; /* Ensures the boxes are behind the content */
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80vh;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-top: 80px;
    z-index: 3;
    text-align: center;
    background-color: #fff;
    opacity: 1;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
} 

section .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
    background-image: url(images/brgyhall.jpg);
}
section .imgBx::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, rgba(30, 99, 233, 0.6), rgba(51, 51, 51, 0.6));
    z-index: 1; 
}

section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-image {
    position: absolute;
    margin: 0 auto;
    z-index: 1000;
    width: 70px !important;
    height: auto !important;
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
}

.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    margin: 0 auto;
    z-index: 1000;
    margin-top: -110px;
    display: block;
}

.overlay-text h3{
    margin: 0 auto;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;
    margin-left: -60px;
    margin-top: 250px;
    color: #fff;;
}

.overlay-text .welcome{
    margin-top: 400px;
    text-align: left;
    margin-left: -115px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.overlay-text .message{
    font-size: 18px;
    text-align: left;
    margin-left: -115px;
    margin-top: -10px;
    color: #fff;
}
.contentBx {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contentBx p{
    color: #607d8b;
    font-size: 16px;
}
.message img{
    width: 10px;
    height: 10px;
}
.formBx {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
.formBx img{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}
.formBx h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #4567FF;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
}

form{
    margin-top: 10px;
}
.inputBx {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.inputBx label {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #607d8b;
}

.password-toggle, .confirm-password-toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 75% !important;
    font-size: 20px !important;
    transform: translateY(-50%);
    color: #607d8b !important;
}

.password-toggle i, .confirm-password-toggle i{
    margin-left: 300px !important;
}

.input-group span i{
    font-size: 20px;
    margin-left: 10px;
}

.input-group input {
    width: 100%;
    padding: 10px 40px 10px 50px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #607d8b;
    outline: none;
    border-radius: 30px !important;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
}

.inputBx input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #1E63E9;
    outline: none;
    border-radius: 30px;
    letter-spacing: 1px;
    color: #1E63E9;
    background: transparent;
}

.inputBx input:focus ~ span, 
.inputBx input:valid ~ span {
    transform: translateY(-25px) translateX(-15px);
    font-size: 12px;
    color: #1E63E9;
}

.inputBx input[type="submit"] {
    cursor: pointer;
    background: #4577FF;
    border: none;
    outline: none;
    color: #fff;
    transition: 0.5s;
    font-weight: 500;
}
.inputBx input[type="submit"]:hover {
    background: #3656F5;
}
footer{
    margin-top: 15px;
}
footer p {
    color: #607d8b;
    text-align: center;
    font-size: 14px;
}
.inputBx p a {
    color: #4574FF;
    text-decoration: none;
}
.inputBx p a:hover {
    text-decoration: underline;
}

.inputBx .back {
    display: flex;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
    margin-top: 15px;
    text-align: center; 
}

.inputBx .back a{
    display: flex;
    margin: 0 auto;
    text-decoration: none;
    color: #607d8b;
    font-size: 16px;
}

.inputBx .back a i{
    margin-right: 10px;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@media (max-width: 768px)
{
    .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .formBx{
        width: 100%;
        padding: 40px;
        background: rgb(255, 255, 255/0.9);
        margin: 50px;
    }
    .formBx h3{
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}