*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #f0f0f0;
  }
  
  .header {
    background-color: #1E63E9;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 83%;
    z-index: 500;
    height: 85px;
    top: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 269px;
  }
  
  .hamburger,
  .zoom {
    font-size: 27px;
    height: 40px;
    width: 40px;
    margin-top: 12px;
  }
  
  .profile-icon {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
    border: 1px none #000;
    color: #000;
  }
  
  .profile-icon i {
    color: black;
    font-size: 20px;
  }
  
  .profile-details-container {
    display: none;
    position: absolute;
    top: 85px;
    margin-right: 210px;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 15%;
    animation: slideBottom 1s ease forwards;
  }
  
  .profile-details-container button{
    background-color: red;
    color: #fff;
    margin-left: 80px;
    height: 40px;
    width: 37%;
    border-radius: 8px;
    font-size: 12px;
  }
  
  .profile-details-container a{
    display: block;
    color: #000;
    text-decoration: none;
  }
  
  .profile-details-container a i{
    margin-right: 5px;
  }
  
  .profile-icon:hover .profile-details-container {
    display: block;
  }
  
  .hamburger {
    font-size: 24px;
    margin-left: 15px;
  }
  
  .profile-details-container {
  display: none;
  }
  
  .profile{
    display: flex;
    align-items: center;
    margin-bottom: -10px;
  }
  
  .profile img{
    border-radius: 10px;
  }
  
  .adminname{
    display: block;
    text-align: center;
    align-items: center;
  }
  
  .adminname .p1{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 13px;
  }
  
  .adminname .p2{
    font-size: 15px;
  }
  
  .hidden-icon {
    display: none;
  }
  
  .navigation {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    position: fixed;
    bottom: 0;
    overflow-y: auto;
    width: 17%;
    padding-top: 50px;
    transition: width 0.3s ease;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .logo{
    display: flex;
    border-bottom: 1px solid #607d8b;
    margin-top: -6px;
    height: 41px;
  }
  
  .logo p{
    font-weight: 500;
    font-size: 22px;
    margin-top: -15px;
  }
  
  .logo img{
    margin-right: 10px;
    margin-left: 20px;
    margin-top: -20px;
  }
  
  .administrators{
    border-bottom: 1px solid #607d8b;
    height: 45px;
    margin-bottom: 20px;
  }
  
  .administrators p{
    font-size: 20px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .navigation.active {
    width: 0;
  }
  
  .navigation a span {
    vertical-align: middle;
  }
  
  .navigation a {
    display: flex; 
    align-items: center;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    margin-top: 5px;
    width: 90%;
  }
  
  .a1.active {
    background-color: #1E63E9;
    color: white;
    border-radius: 8px;
    text-decoration: none;
  }
  
  .navigation a i {
    font-size: 18px;
    margin-right: 15px;
    color: #fff;
  }
  
  .navigation hr{
    font-weight: bold;
  }
  
  .navigation .a1:hover i,
  .navigation .a1:hover {
    background-color: #1E63E9;
    border: none solid #1E63E9;
    border-radius: 8px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown button {
    display: flex; 
    align-items: center;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-left: 10px;
    width: 90%;
    background-color: #333;
    border-style: none;
    text-align: left;
  }
  
  .dropdown button i{
    font-size: 18px;
    margin-right: 15px;
    color: #fff;
  }
  
  .dropdown button .bi{
    font-size: 24px;
    margin-top: 1px;
    margin-left: 115px;
  }
  
  .dropdown button:hover{
    background-color: #333;
    border: 1px solid #333;
    border-radius: 8px;
    width: 90%;
    height: 60%;
  }
  
  .dropdown-content {
    display: none;
    width: 93%;
    height: 50%;
    margin-top: -10px;
  }
  
  .dropdown-content.show {
    display: block;
  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    width: 80%;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    margin-bottom: 10px;
    margin-left:30px;
    text-align: justify;
  }
  
  .dropdown-content a:hover{
    width: 80%;
    background-color: #1E63E9;
    border: none solid #1E63E9;
    border-radius: 8px;
  }
  
  .dropdown-content a i{
    font-size: 18px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown button:focus,
  .dropdown button:active,
  .dropdown button:hover {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #fff;
  }
  
  .hidden-text {
    display: none;
  }
  
  .title-with-icon {
    margin-left: 269px;
    display: flex;
    background-color: #fff;
    height: 60px;
    width: 83%;
    position: fixed;
    top: 85px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .title-with-icon a {
    border: 2px solid #DAA520;
    height: 35px;
    margin: 0 auto ;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 12px;
    padding: 5px;
    box-shadow: 0 0 2px black;
  }
  
  .title-with-icon a i {
    font-size: 20px;
    color: #000;
    margin-left: 0;
  }
  
  .title-with-icon p{
    margin: 0 auto;
    margin-top: 12px;
    font-size: 22px;
    margin-left: -1060px;
    font-weight: bold;
  }
  
  .dashboard-box-container1, .dashboard-box-container2{
    margin-left: 278px;
    z-index: 0;
  }
  
  .dashboard-box-container1{
    margin-top: 170px;
  }
  
  .dashboard-box-container2{
    margin-top: 20px;
  }
  
  .dashboard-box1,
  .dashboard-box2 {
    display: inline-block;
    width: 98%;
    margin: 10px;
    margin-right: 24px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 10px black;
    position: relative;
    z-index: 0;
    animation: slideTop 1s ease forwards;
  }

  .dashboard-box1 {
    background: url('images/brgyhall.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.dashboard-box1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #1E63E9, #333); 
    opacity: 0.7; 
    z-index: 1;
    border-radius: 8px;
}

.dashboard-box1 .div {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.25);
    width: 95%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 8px;
    padding-top: 20px;
    position: relative;
    z-index: 2; 
}

  .div .img{
    width: 400px;
    height: 300px;
    margin-top: 20px !important;
    margin: 0 auto;
    background-color: #fff;
  }

  .div .img img{
    width: 250px;
    height: 250px;
    margin-top: 20px !important;
    margin: 0 auto;
  }
  
  .dashboard-box1 h3,.dashboard-box2 h3 {
    font-size: 20px;
    margin-left: 0;
    margin-right: 70px;
    position: relative;
    z-index: 2;
  }
  
  .info {
    text-decoration: none;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px !important;
    z-index: -1;
  }
  
  .form1 {
    height: 40vh;
    margin: 0 auto;
    width: 95%;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Increase z-index value */
    position: relative; /* Ensure position is specified */
}

.form-group1 {
    margin-bottom: 20px;
    display: flex;
}

.input-group {
    display: block;
}

.form-group2 label, .form-group3 label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-group1 input, .form-group2 input, .form-group3 input {
    width: 100% !important;
    padding: 10px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    margin-right: 10px;
}

.form-group1 .input-group {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 20px;
  color: #fff;
  font-size: 18px;
}

.form-group1 i {
  color: #000;
  padding-top: 8px;
  background-color: #DAA520;
  width: 40px;
  height: 40px;
}

.form-group1 .input-group input {
  flex: 1;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

.form-group1 .input-group input:hover,
.form-group1 .input-group input:focus,
.form-group1 .input-group input:active {
  border-color: transparent !important; 
  box-shadow: none !important;
  outline: none;
}


#name {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #495057;
}

.form-group1 input[type="date"] {
  padding-right: 2.5rem; 
}

.form-group1 .input-group{
  display: flex;
  margin: 0 auto;
}

.form-group1 input{
  background-color: transparent;
  border: none;
  color: #fff;
  margin-left: 20px;
}

#name{
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}

.dashboard-box2{
  height: 1700px;
  background-color: #fff;
  display: block;
  margin-top: 20px;
}

.dashboard-box2 .basic{
  margin: 0 auto;
  background-color: #1E63E9;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.dashboard-box2 .personaldata1{
  display: flex;
  font-size: 27px;
  text-align: left;
  margin: 0 auto;
  color: #1E63E9;
  font-weight: 400;
  margin-top: 15px;
}

.dashboard-box2 .personaldata1 i{
  font-size: 27px;
  margin-right: 10px;
}

.dashboard-box2 .personaldata1 hr {
  color: #1E63E9;
  border-color: #1E63E9;
  width: 82%; /* Adjust the width as needed */
  margin-left: 10px; /* Reset margin */
  margin-top: 17px; /* Add margin-top to create space */
  border-width: 5px;
  background-color: transparent;
}

.dashboard-box2 #otherinfo i{
  font-size: 27px;
  margin-right: 10px;
}

.dashboard-box2 #otherinfo hr{
  color: #1E63E9;
  border-color: #1E63E9;
  width: 78.5%; /* Adjust the width as needed */
  margin-left: 10px; /* Reset margin */
  margin-top: 17px; /* Add margin-top to create space */
  border-width: 5px;
  background-color: transparent;
}

.form2{
  margin: 0 auto;
  height: 40vh ;
  width: 100%;
}

.form-group2 input, .form-group3 input{
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 10px !important;
}

#otherinfo{
  display: flex;
  font-size: 27px;
  text-align: left;
  margin: 0 auto;
  color: #1E63E9;
  font-weight: 400;
  margin-top: 20px;
}

.form3{
  margin: 0 auto;
  height: 40vh ;
  width: 100%;
}

.form-group2 .input-group,
.form-group3 .input-group {
  position: relative;
}

.form-group2 .input-group .input-group-text,
.form-group3 .input-group .input-group-text {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  border-right: 1px solid #ced4da; /* Add border if needed */
  border-radius: 0.25rem 0 0 0.25rem; /* Add border-radius if needed */
}

.form-group2 .input-group .form-control,
.form-group3 .input-group .form-control {
  padding-left: 70px; /* Adjust padding to ensure space for icon */
}

.dashboard-box2 button{
  width: 95%;
  background-color: #1E63E9;
  border: none;
  margin: 0 auto;
  border-radius: 10px !important;
  margin-top: 270px;
  height: 40px;
  color:#fff;
  font-size: 18px;
  cursor: pointer !important;
}

.footer {
    background-color: #fff;
    color: #0078d4;
    padding: 20px 0; 
    text-align: left; 
    width:83%;
    margin-left: 269px;
    margin-top: 30px;
}
  
  .footer .container {
    width: 85%; 
    margin: 0 auto; 
  }
  
  .footer p {
    margin: 0; 
    margin-left: -90px;
    font-weight: bold;
  }
  
  .footer a {
    color: #fff; 
    text-decoration: none; 
  }

  @keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}